fastapi
python-multipart
opencv-python-headless
pandas
shapely
scikit-learn
matplotlib
joblib
pillow
numpy
exifread
geopy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
