opencv-python-headless
pandas
shapely
scikit-learn
matplotlib
joblib
streamlit
python-dotenv
requests
scikit-image
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pillow
numpy
exifread
geopy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
